{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h1>Send a message!</h1>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message.tags }}: {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <textarea name="message" rows="4" cols="50" required></textarea>
        <br />
        <button type="submit" name="send_method" value="immediately">
            Send immediately
        </button>
        <button type="submit" name="send_method" value="asynchronously">
            Send asynchronously
        </button>
        {% csrf_token %}
{% endblock content %}
